* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar-toggler-icon {
    color: black;
    background-color: #8d99ae;
    border-radius:50px;
}

.container-geral-itens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.title-inicio-letras{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;
    font-size: 36px;
}

.body-inicio-letras{
    font-size: 20px;
}

.imgs-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.container-geral {
   padding: 100px;
   padding-top: 30px;
}

.container-letras-inicio {
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
   padding-top: 100px;
   margin-left: 150px;
}

.title-inicio {
    font-size: 40px;
}


html {
    scroll-behavior:smooth !important;
}











