.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.card-menu {
    margin: 10px;
}

.card-body {
    padding: 0px !important;
}

.card-img-top img {
    width: 18rem;
    height: 100vh;
    object-fit: cover;
}

.card img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .8s ease;
  }



