.divisao-container {
display: flex;
justify-content: center;
padding-top:300px;
}



.divisao__numero {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding: 15px;
    background-color: crimson;
    font-weight: bold;
    color: #FFF;
    font-size: 40px;
    font-family: 'Montserrat';
}

.divisao__titulo {
    color: black;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    padding-top: 80px;
   
}

.imgs-titulo {
    padding-bottom: 80px;
}

.titulo2 {
    display: block;
    padding-top: 25px;
}
.titulo2 #letra {
   color:crimson;
}

.titulo-img{
    display: flex;
    justify-content: flex-end
}


.img-meio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-meio > img {
    height: 80px;
    
}

    #portfolio {
        padding-top: 250px;
    }

  #container-projetos-2{
      padding-top:50px;
  }


