nav {
    margin: 3px;
    height:60px;
    color: black;
    list-style: none;
}

header {
    color: black;
}


a.nav-link {
    color: black !important;
    margin-right: 20px;
}

nav li:hover {
    background:#ade8f4;
}
.nav-item-icons {
    margin-left: 600px;
}

.img-nav-icon {
    height:20px;
    width:20px;
}

#subir {
    text-decoration: none;
    background-color: crimson;
    bottom: 30px;
    right: 30px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    position: fixed;
    opacity: .8;
    content: url(/assets/img/flecha.png);
    border-radius: 100%;
    scroll-behavior: smooth !important;  
}

span.navbar-toggler-icon {
    width: 5rem;
    color: white;
}

@media screen and (max-width:992px) {
    nav {
        padding: 0 !important;
        height: auto !important;
    }
}









